/* Screen size dependent */

html {
	font-family: 'Roboto', sans-serif;
}

.avatar {
	border-radius: 50%;
	max-width: 200px;
	margin-bottom: 20px;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}

	.avatar {
		max-width: 230px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}

	.avatar {
		max-width: 270px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}

	.avatar {
		max-width: 310px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}

	.avatar {
		max-width: 350px;
	}
}

.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main > .intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main > .tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.icons-social i {
	display: block;
	line-height: 1;
	padding: 10px;
}

.icons-social a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.icons-social a .icon-logo {
	display: block;
	width: 3em;
	height: 3em;
	line-height: 0;
	max-width: none;
	padding: 10px;
	box-sizing: content-box;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;;
	width: 2.65rem;
	height: 2.65rem;
}

